# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\career\code_challenges\zumper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
